:root {
  --gray-card: #888888;
  --white: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
}

.card {
  align-items: center;
  height: 10rem;
  justify-content: center;
  position: relative;
  width: 10rem;
  background-repeat: no-repeat;
}

.ball {
  background-color: var(--gray-card);
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  width: 3rem;
}

/* Ball bouncing up */
/* 
.ball-bouncing::before {
  animation: shadowBouncing 1.2s ease-in infinite;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  bottom: 1.7rem;
  content: '';
  height: 0.15rem;
  position: absolute;
  width: 2rem;
} */

.ball-bouncing .ball {
  animation: ballBouncing 1.2s ease-in infinite;
  bottom: 4.5rem;
  left: 3.5rem;
  transform-origin: bottom;
}

@keyframes ballBouncing {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-1rem);
  }
  30% {
    transform: translateY(-1.5rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  70% {
    transform: translateY(-1.5rem);
  }
  90% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* End ball bouncing up*/
/* Ball baouncing down*/
.ball-bouncing-down .ball {
  animation: ballBouncingDown 1.2s ease-in infinite;
  bottom: 4.5rem;
  left: 3.5rem;
  transform-origin: bottom;
}

@keyframes ballBouncingDown {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(1rem);
  }
  30% {
    transform: translateY(1.5rem);
  }
  50% {
    transform: translateY(2rem);
  }
  70% {
    transform: translateY(1.5rem);
  }
  90% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* End ball bouncing down */

/* Random Ball movement */
.ball-movement {
  overflow: hidden;
}

.ball-movement::before {
  border-radius: 1rem;
  bottom: 2rem;
  content: '';
  height: 0.15rem;
  left: 2rem;
  position: absolute;
  right: 2rem;
}

.ball-movement .ball {
  animation: ballMovement 1.6s infinite;
  bottom: 2.1rem;
  transform: translate(14rem, -15rem) scale(1.2, 0.5);
  transform-origin: bottom;
}

@keyframes ballMovement {
  0% {
    transform: translate(14rem, -5rem);
  }
  15% {
    transform: translate(7rem, 0rem) scale(1.2, 0.5);
  }
  30% {
    transform: translate(2rem, -5rem) scale(1, 1);
  }
  45% {
    transform: translate(-2rem, 0rem) scale(1.2, 0.8);
  }
  60% {
    transform: translate(-5rem, -5.5rem) scale(1, 1);
  }
  75% {
    transform: translate(-8rem, 0rem) scale(1.1, 0.9);
  }
  100% {
    transform: translate(-14rem, -3rem) scale(1, 1);
  }
}
/* End ball movement */
