:root {
  --gray-card: #888888;
  --white: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
}

.card {
  align-items: center;
  height: 10rem;
  justify-content: center;
  position: relative;
  width: 10rem;
  background-repeat: no-repeat;
  background-image: url('https://raw.githubusercontent.com/malwozniak/react-ts-1dq1it/main/textures/img1.jpg');
}

.ball {
  background-color: var(--gray-card);
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  width: 3rem;
}


/* Ball bouncing up */
.ball-bouncing .ball {
  animation: ballBouncing 1s ease-in infinite;
  bottom: 3.5rem;
  left: 3.5rem;
  transform-origin: bottom;
}

@keyframes ballBouncing {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  90% {
    transform: translateY(-0.7rem);
  }
  20%,
  80% {
    transform: translateY(-1.4rem);
  }
  30%,
  70% {
    transform: translateY(-2.1rem);
  }
  40%,
  60% {
    transform: translateY(-2.8rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

/* End ball bouncing up*/
/* Ball baouncing down*/
.ball-bouncing-down .ball {
  animation: ballBouncingDown 1s ease-in infinite;
  bottom: 3.5rem;
  left: 3.5rem;
  transform-origin: bottom;
}

@keyframes ballBouncingDown {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  90% {
    transform: translateY(0.7rem);
  }
  20%,
  80% {
    transform: translateY(1.4rem);
  }
  30%,
  70% {
    transform: translateY(2.1rem);
  }
  40%,
  60% {
    transform: translateY(2.8rem);
  }
  50% {
    transform: translateY(3.5rem);
  }
}

/* End ball bouncing down */

/* Ball bouncing up */
.ball-bouncing-left .ball {
  animation: ballBouncingLeft 1s ease-in infinite;
  bottom: 4rem;
  left: 3.5rem;
  transform-origin: bottom;
}

@keyframes ballBouncingLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(-0.7rem);
  }
  20%,
  80% {
    transform: translateX(-1.4rem);
  }
  30%,
  70% {
    transform: translateX(-2.1rem);
  }
  40%,
  60% {
    transform: translateX(-2.8rem);
  }
  50% {
    transform: translateX(-3.5rem);
  }
}

/* End ball bouncing left*/
/* Ball baouncing right*/
.ball-bouncing-right .ball {
  animation: ballBouncingRight 1s ease-in infinite;
  bottom: 4rem;
  left: 3.5rem;
  transform-origin: bottom;
}

@keyframes ballBouncingRight {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(0.7rem);
  }
  20%,
  80% {
    transform: translateX(1.4rem);
  }
  30%,
  70% {
    transform: translateX(2.1rem);
  }
  40%,
  60% {
    transform: translateX(2.8rem);
  }
  50% {
    transform: translateX(3.5rem);
  }
}

/* End ball bouncing right */
